.animirani {
display: inline-block;
border: 1px solid black;
padding: 10px;
box-sizing: border-box;
width: 200px;
height: 40px;
text-align: center;
}
.animirani:hover {
animation: animiraj-box 1s forwards;
}
@keyframes animiraj-box {
0% {
transform: rotate(0deg);
color: back;
}
45% {
transform: rotate(180deg);
color: red;
}
80% {
transform: rotate(270deg);
/* transform: rotate(350deg);*/
color: red;
}
100% {
transform: rotate(360deg);
color: black;
}
